.git
.github
.gitignore

.env
.env.*
!.env.example

__pycache__
*.pyc
.pytest_cache
.mypy_cache
.ruff_cache

.venv
venv

node_modules
vendor

logs
*.log

docker-data
postgres-data
redis-data

.vscode
.idea
.DS_Store
